################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Telefonia/.vs/Telefonia/v16/Server/sqlite3/db.lock
